body {
    padding:20px;
    background-color:lightsteelblue;
}

header {
    background-color: lightgrey;
    padding:10px;

}

main {
    padding:10px;
}

footer {
    padding:10px;
}

#profile {
    max-height:10%;
    max-width:10%;
    padding: auto;
    display:inline-block;
}
#about {
    padding:20px;
    background-color:lightblue;
    text-align:justify;
}

.title {
    display:inline-block;
    margin-left:10px;
    font-size:5em;
    
}
.out {
    padding:10px;
}